#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}

#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: inline-block;
  clear: both;
}
#cssmenu a {
  color: #000;
  display: inline-block;
  font-size: 14px;
  line-height: 49px;
  padding: 0 20px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul {
  float: left;
}
#cssmenu > ul > li {
  float: left;
  border-right: 1px solid #e1e1e1;
}
#cssmenu > ul > li > a {
  color: #505050;
  font-size: 16px;
}
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -10px;
}

#cssmenu > ul > li.activ:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -10px;
}
#cssmenu > ul > li.activ > a {
	cursor: pointer;
	  background: rgba(77,145,123,0.7);
	  color: #fff;
}
#cssmenu > ul > li:hover > a {
	background: rgba(77, 145, 123, 0.5); 
	color: #fff; 
	cursor: pointer;
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 147px;
  top: 100%;
  left: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: rgba(77, 145, 123, 1); 
  border-bottom: 1px dotted #949494;
  filter: none;
  font-size: 14px;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #ffffff;
}
#cssmenu .has-sub ul li:hover a {
  background: #616161;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
  background: #616161;
  border-bottom: 1px dotted #949494;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #545454;
}

ul.menu{
	margin:0;
	padding:0;
	font-size:14px;
}
ul.menu li{
	list-style:none;
	font-size: 14px;
	padding: 5px 0 5px 30px;
	border-bottom:1px solid #e1e1e1;
	cursor: pointer;
}
ul.menu li:hover{
	background: rgba(77, 145, 123, 1);
}
ul.menu li a:hover{
	color:#fff;
}
ul.menu li a{
	text-decoration:none;
}
